@using LibraryProject.Models;
@model List<Magazine>
    <h4>Magazines</h4>
    <table class="table table-striped table-bordered table-condensed col-md-11 col-md-pull-1">
        <tr>
            <td colspan="1" align="left">
                @Html.ActionLink("Create New", "CreateMagazine", "Home", new { }, new { @class = "btn btn-sm btn-success " + @ViewBag.hideElement })
            </td>
            <td colspan="4" align="left">
                @using (Html.BeginForm())
            {
                    <input type="submit" formaction="/Home/GetAllPublisher/magazine" class="btn btn-sm btn-success" value="Get all publishers" />
                    <input type="submit" formaction="/Home/GetPublisherList/magazine" class="btn btn-sm btn-success" value="Sort by publishers" />
                    @Html.TextBox("publisherName", string.Empty, new { @class = "" })
                }
            </td>
        </tr>
        <tr>
            <th align="left">
                @Html.Label("Name")
            </th>
            <th align="left">
                @Html.Label("Category")
            </th>
            <th align="left">
                @Html.Label("Publisher")
            </th>
            <th align="left">
                @Html.Label("Price")
            </th>
            <th align="left">
                @Html.Label("Action")
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td align="left">
                    @Html.ActionLink("Edit magazine", "EditMagazine", new { id = item.Id }, new { @class = "btn btn-sm btn-info " + ViewBag.hideElement })
                    @Html.ActionLink("Show", "ShowMagazine", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
                    @Html.ActionLink("Delete", "DeleteMagazine", "Home", new { id = item.Id }, new { @class = "btn btn-sm btn-danger viewDialog " + @ViewBag.hideElement, data_dialog_title = "Delete" })
                </td>
            </tr>
        }
        <tr>
            <td align="left" colspan="5">
                @Html.ActionLink("Save txt list", "GetMagazinesList", new { }, new { @class = "btn btn-sm btn-primary db-saver " + @ViewBag.hideElement })
                @Html.ActionLink("Save xml list", "GetMagazinesXmlList", new { }, new { @class = "btn btn-sm btn-primary db-saver " + @ViewBag.hideElement })
                @Html.ActionLink("Save list to DB", "GetDatabaseMagazineList", new { }, new { @class = "btn btn-sm btn-primary db-saver " + @ViewBag.hideElement })
            </td>
        </tr>
    </table>
